
###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4ae3689e0eeb908b9cc497359bd3bde2
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7
###< doctrine/doctrine-bundle ###