#symfony ignores
.web-server-pid
app/config/parameters.yml
build/
phpunit.xml
var/*
!var/cache
var/cache/*
!var/cache/.gitkeep
!var/logs
var/logs/*
!var/logs/.gitkeep
!var/sessions
var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
vendor/
web/bundles/

#generic
/.idea/
.env
composer.phar

#app specific
web/generated/*
!web/generated/.gitkeep
!var/cardmaker
!var/cardmaker/.gitkeep
!var/cardmaker/resources
var/cardmaker/resources/*
!var/cardmaker/resources/.gitkeep
!var/cardmaker/resources/placeholder.jpg
!var/cardmaker/resources/standard_layers
var/cardmaker/resources/standard_layers/*
!var/cardmaker/resources/standard_layers/vampire_a.png
!var/cardmaker/resources/standard_layers/vampire_b.png
var/cardmaker/uploads/*
!var/cardmaker/uploads/.gitkeep