/.web-server-pid
/app/config/parameters.yml
/build/
/.idea/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/cardlog/*
/web/generated/*
/web/uploads/*
!/web/cardlog/.gitkeep
!/web/generated/.gitkeep
!/web/uploads/.gitkeep
